<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div style="text-align: center;">
			
			<p>&copy 2022 Noh Lab. Site made from <a href="http://www.allanlab.org/">2016 Allan Lab.</a></p>
			<p>
				(39177) 61, Daehak-ro, Gumi-si, Gyeongsangbuk-do, Republic of Korea
				<span style="margin-left: 20px;">TEL : (054) 478-7621</span>
			</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
