
<div class="well" style ="position:relative; background:none; border:none; box-shadow:none; padding: 20px 0;">
    <h4 style= "font-weight:bold; font-size: 22px; border-bottom: 2px solid #e7e7e7; padding: 5px 0;">
        <span style="border-bottom: 4.5px solid #000; padding-right: 3px; padding-bottom: 0.5px;">News</span></h4>

    {% for article in site.data.fix_news limit:9 %}
    <a href="{{article.link}}" style="color: #333333">
        <div style="display: flex; flex-direction:column; margin: 13px 0 10px;">
            <img src="{{article.img}}" 
                style="width: 95%; height: 200px; align-self: center;">
            <div style="padding-top: 3px;">
                <p style="margin-bottom: 5px; font-weight: bold; font-size: 16px; word-break: break-all;">{{article.headline}}</p> 
                <!-- <p style="font-size: 14px;">{{article.date}}</p> -->
            </div>
        </div>
    </a>
    {% endfor %}
    
    {% for article in site.data.news limit:9 %}
    {{ article.date }}
    <a href="{{article.link}}" class="news-article">
        <p>{{ article.headline }}</p>
    </a>
    {% endfor %}

    <h4 style="position:absolute; top: 25px; right: 10px; fontweight: bold;">
        <a href="{{ site.url }}{{ site.baseurl }}/allnews.html" class="news-plus-button" >+</a>
    </h4>
</div>

